{% extends 'base.html' %}
{% load static %}
{% block contenido %}
<div class="login-container">
    <h2>Iniciar Sesión</h2>
    <form method="post">
        {% csrf_token %}

        
        <div class="email">
            <label for="email">Correo Electrónico</label>
            <div class="sec-2">
                <ion-icon name="mail-outline"></ion-icon>
                {{ form.email }}
            </div>
            {% if form.email.errors %}
            <div class="error">{{ form.email.errors|join:", " }}</div>
            {% endif %}
        </div>

       
        <div class="password">
            <label for="password">Contraseña</label>
            <div class="sec-2">
                <ion-icon name="lock-closed-outline"></ion-icon>
                {{ form.password }}
                <ion-icon class="show-hide" name="eye-outline" onclick="togglePassword()"></ion-icon>
            </div>
            {% if form.password.errors %}
            <div class="error">{{ form.password.errors|join:", " }}</div>
            {% endif %}
        </div>

        <!-- Mostrar errores no relacionados con campos específicos -->
        {% if form.non_field_errors %}
        <div class="error">{{ form.non_field_errors|join:", " }}</div>
        {% endif %}

        <button type="submit" class="btn from-bottom">Iniciar Sesión</button>
    </form>
    <div class="footer">
        <a href="{% url 'registro' %}"><span>Registrarse</span></a>
        <span>EquiGrafo</span>
    </div>
</div>

<style>
    body {
        background-image: url("{% static 'images/fondo_login.jpg' %}");
        background-size: cover;
        background-position: center; 
        background-repeat: no-repeat; 
        background-attachment: fixed; 
    }
    
    @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
    .login-container {
        animation: fadeIn 1s ease-in-out;
        background-color: rgba(48, 48, 48, 0.8);
        padding: 20px;
        border-radius: 10px;
        max-width: 400px;
        margin: auto;
        color: white;
        margin-top: 100px;
    }
    .login-container h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .login-container form {
        display: flex;
        flex-direction: column;
    }
    .login-container form button {
        margin-top: 10px;
    }
    .sec-2 {
        display: flex;
        align-items: center;
        border-bottom: 1px solid white;
        padding: 2px 0;
        margin-bottom: 20px;
    }
    .sec-2 ion-icon {
        font-size: 20px;
        margin-right: 10px;
        color: white;
    }
    .sec-2 input {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        width: 100%;
        padding: 5px 0;
    }
    .sec-2 input::placeholder {
        color: #cccccc;
    }
    .show-hide {
        cursor: pointer;
    }
    .error {
        color: red;
        font-size: 12px;
        margin-top: 5px;
    }
    .footer {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    .footer span, .footer a {
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
    .footer a:hover {
        text-decoration: underline;
    }

    /* Estilos del botón iniciar */
    .btn {		
        position: relative;
        display: inline-block;
        color: var(--inv); 
        -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
        transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
    }

    .btn:before, .btn:after {
        content: '';
        position: absolute;	
        -webkit-transition: inherit;	
        transition: inherit;
        z-index: -1;
    }

    .btn:hover {
        color: var(--def);
        -webkit-transition-delay: .5s;
                transition-delay: .5s;
    }

    .btn:hover:before {
        -webkit-transition-delay: 0s;
                transition-delay: 0s;
    }

    .btn:hover:after {
        background: var(--inv);
        -webkit-transition-delay: .35s;
                transition-delay: .35s;
    }

    /* From Bottom */

    .from-bottom:before, 
    .from-bottom:after {
        left: 0;
        height: 0;
        width: 100%;
    }

    .from-bottom:before {
        top: 0;	
        border: 1px solid var(--inv);
        border-top: 0;
        border-bottom: 0;
    }

    .from-bottom:after {
        bottom: 0;
        height: 0;
    }

    .from-bottom:hover:before,
    .from-bottom:hover:after {
        height: 100%;
    }

    /* Variables CSS */
    :root {
        --def: #ac8ec6; 	
        --inv: #fff;
    }
</style>

<!-- Ionicons CDN para los íconos -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<!-- mostrar/ocultar contraseña -->
<script>
function togglePassword() {
    var passwordField = document.querySelector('.password input');
    var passwordIcon = document.querySelector('.password .show-hide');
    if (passwordField.type === 'password') {
        passwordField.type = 'text';
        passwordIcon.name = 'eye-off-outline';
    } else {
        passwordField.type = 'password';
        passwordIcon.name = 'eye-outline';
    }
}
</script>
{% endblock %}